<p style="color: green"><%= notice %></p>

<div class="show-container">
    <div class="button-group">
        <h2><%= @note.title %></h2>
        <div class="button-group">
            <%= button_to "Edit", edit_note_path(@note), method: :get, class: "button" %>
            <%= button_to "Back", root_path, method: :get, class: "button" %>
        </div>
    </div>
    <p><%= @note.body %></p>

</div>
